.navbar { 
    margin-bottom: 0 !important; 
    border-radius: 0 !important;
}

body {
    overflow: hidden;
    margin: 0px;
    
}

#my-logo {
    padding: 5px 20px 5px 10px;
}

/* div id="body" */
#body {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    background-color: #232323;
}

    /* div id="main-content" */
#main-content {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    height: 100%;
    background-color: #232323;
}
        /* div id="control-panal" */
#control-panel {
    width: 50px;
    margin: 0px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    background-color: #333333;
}
#control-panel div {
    height: 50px;
    widows: 100px;
    color: #aaa;
}
#control-panel .glyphicon {
    font-size: 24px;
    margin: 13px;
}

        /* end div id="control-panal" */

#viewer-div {
    width: 100%;
    height: 100%;
    background-color: lightgray;
}
#viewer {
    width: 100%;
    height: 100%;
}
    /* end div id="main-content" */

    /* footer id="footer" */
#footer {
    height: auto;
    width: 100%;
    background-color: #007acc;
    color: #ffffff;
}
#footer > div {
    margin: 5px 0px 5px 10px;
}
footer a {
    color: #bbbbbb;
}

footer a:hover {
    color: white;
}
    /* end footer id="footer" */
/* end div id="body" */

.pop-window {
    position: absolute; 
    top: 60px;
    left: 60px;
    right: 20px;
    bottom: 60px;
    max-width: 500px;
    max-height: 500px;
    background-color: #252526;
    border-radius: 5px;
    box-shadow: 4px 4px 4px gray;
}

.pop-window-title {
    width: 100%;
    background-color: #2d2d2d;
    display: flex;
}

.pop-window-content {
    overflow: scroll;
}

.window-title {
    font-size: 1.5em;
    color: #878787;
    padding: 10px;
    flex: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

.window-close-icon {
    /* width: 30px; */
    font-size: 1.3em;
    margin: 15px 15px 15px 5px;
    color: #878787;
}

.vector-input-row {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
}
.input-item {
    flex: 1;
    min-width: 200px;
}
.section-title {
    font-size: 1.2em;
    color: #878787;
    margin: 5px;
}
@media all and (max-width: 767px) {
    #footer div {
        word-wrap: normal;
    }
}


